.search_input {
  // 1px = 2rpx
  height: 90rpx;
  padding: 10rpx;
  background-color: var(--themeColor);
  navigator {
    height: 100%;
    display: flex; // 变成伸缩盒子
    justify-content: center; // 主轴上居中对齐
    align-items: center; // 侧轴上居中对齐
    background-color: #fff;
    border-radius: 15rpx;
    color: #666;
  }
}